
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="accountingApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Accounting</title>
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular-route/angular-route.min.js"></script>
    <script src="~/Scripts/sprintf/dist/sprintf.min.js"></script>
    <script src="~/Scripts/sprintf/dist/angular-sprintf.min.js"></script>

    <script src="~/Scripts/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/Scripts/modalDirective.js"></script>
    <script src="~/Scripts/operationsCtrl.js"></script>
    <script src="~/Scripts/accountsCtrl.js"></script>
    <script src="~/Scripts/main.js"></script>

    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 page-header">
            <h1>Accounting app</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
